{% extends "base.html"  %}

{% block content %}
        <h1>Hi, {{current_user.username}}!</h1>
        {% if form %}
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>
              {{ form.body.label }}<br>
              {{ form.body(cols=35, rows=4,placeholder="Write a post.") }}<br>
              {% for error in form.body.errors %}
              <span style="color :red;">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
               {{ form.link.label }}<br>
               {{ form.link(placeholder="Provide a link to accompany 
               the post if any.") }}<br>
               {% for error in form.link.errors %}
               <span style="color :red;">[{{ error }}]</span>
               {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        {% endif %}
        {% for post in posts %}
          {% include "_post.html"%}
        {% endfor %}
        {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
        {% endif %}
{% endblock %}
